[package]
name = "rust_lib_bike_aid"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
anyhow = "1.0"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
